.canvas-container {
  cursor: crosshair;
  position: relative;
  width: max-content;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}

.canvas-container * {
  position: absolute;
}