.modal-background {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.38);
}

.modal {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background: white;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.26),
              0 24px 38px 3px rgba(0,0,0,.12),
              0 9px 46px 8px rgba(0,0,0,.08);
}

.modal > * {
  padding: 10px;
}

.modal > .modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.8);
}

.modal > .modal-header > button {
  cursor: pointer;
}