html, body {
  height: 100%;
}

.app {
  background-color: #E5E5E5;
  height: 100%;
}

.app .tools-menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.app .canvas-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}